@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto-Regular'),
    url(@/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto-Medium'),
    url(@/assets/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto-Bold'),
    url(@/assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local('Roboto-Black'),
    url(@/assets/fonts/Roboto-Black.ttf) format('truetype');
}
